.widget-header {
  padding: 40px;
  background-color: #F3F3F3;

  .widget-header-title {
    font-size: 36px;
    font-weight: bold;
  }
  .widget-header-line {
    width: 100px;
    height: 2px;
    background-color: #157EFF;
    margin-top: 15px;
  }
  .widget-header-desc {
    font-size: 12px;
    margin-top: 15px;
    line-height: 40px;
  }
}
