.page {
  position: relative;
  background-color: #FAFAFA;

  view,
  div {
    box-sizing: border-box;
  }
}

.page-index {
  padding: 60px 0 30px;

  .logo {
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;

    .img {
      width: 264px;
      height: 180px;
    }
    .logo-title {
      font-size: 36px;
    }
  }

  .menu-list-wrap {
    padding: 80px 40px;

    .menu-item-wrap {
      margin-bottom: 20px;
      background-color: #fff;
      padding: 20px;
      display: flex;
      align-items: center;
      &:last-child {
        margin-bottom: 0;
      }

      .menu-item-content {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 0 20px;

        .title {
          font-size: 18px;
          font-weight: bold;
        }
      }
      .menu-item-icon {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        &.left {
          border: 1px solid #e5e5e5;
          .img {
            width: 28px;
            height: 28px;
          }
        }
        &.right {
          background-color: #6190E8;
          box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.11);
        }
      }
    }
  }

}
